[PostalApp]
release_dir        = PostalAppProject_Old\Интерфейс\bin\Release
base_url           = http://<ip_адрес>/updates/versions/v{version}/update.zip
server_upload_path = /var/www/postalapp_updates/versions

[PostalApp-Extra]
release_dir        = PostalApp-ExtraProject\PostalApp-Extra\bin\Release
base_url           = http://<ip_адрес>/extra-updates/versions/v{version}/update.zip
server_upload_path = /var/www/postalapp-extra_updates/versions

[Signing]
; true — подписание включено, false — отключено
enabled       = true
; Путь абсолютный или относительный (от папки скрипта)
signtool_path = Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe
; pfx_path — относительный (рядом со скриптом) или абсолютный
pfx_path      = pfx.pfx
pfx_password  = pfxPassword
timestamp_url = http://timestamp.digicert.com

[InnoSetup]
; Путь до ISCC.exe (компилятор Inno Setup)
iscc_path = Inno Setup 6\ISCC.exe

[Server]
; SSH-параметры для загрузки на сервер
host                        = <ip_адрес>
user                        = root
; Путь до приватного SSH-ключа (.pem / .ppk для PuTTY).
; Оставьте пустым если используется ключ по умолчанию (~/.ssh/id_rsa)
ssh_key_path                = 
postalapp_server_path       = /var/www/postalapp_updates/versions
postalapp_extra_server_path = /var/www/postalapp-extra_updates/versions
